conda.enabled = true

// Define the required input parameters
params.organism = "mus_musculus"
params.census_version = "2024-07-01" // version of cellxgene census scvi model and data corpus for reference data
params.mapping_file = "/space/grp/rschwartz/rschwartz/nextflow_eval_pipeline/meta/census_map_mouse_author.tsv"
params.ref_keys=["subclass","class","family","global"]
params.color_mapping_file = "/space/grp/rschwartz/rschwartz/evaluation_summary.nf/meta/color_mapping.tsv"
params.subsample=100
params.outdir = "$projectDir/${params.organism}/results_${params.subsample}"
params.results = "/space/grp/rschwartz/rschwartz/nextflow_eval_pipeline/mus_musculus/sample/SCT"
process {
  cache = 'standard'  // Options: 'standard' (default), 'deep', 'lenient', or 'false'
  executor = 'local'
  clusterOptions = '-C thrd64 --cpus-per-task=10'
}
 executor {
   queueSize = 90 
 }

nextflow {
  clean {
    afterRun = true  // Default is false; set to true to clean up automatically
  }
}

profiles {
  conda {
    conda.enabled = true
  }
}
